h1{
  color:lightblue;
}

h1,h2{
  text-align:center;
}

svg{
  align:center;
}

.filterType{
  display:block;
  margin:0 auto;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}
